@media screen and (max-width: 1000px){
    #container-for-mainBox{
        width: 80%;
    }
}
@media screen and (max-width: 460px){
    #container-for-mainBox{
        width: 98%;
    }
}
@media screen and (max-width: 950px){
    #head-underline{
        width: 80px;
    }
}
